---
import SectionWrapper from "../components/SectionWrapper.astro"
import { Image } from "astro:assets"
import BodyText from "./BodyText.astro"
import ItemList from "./ItemList.astro"
const {blok} = Astro.props

const isImageRight = blok.image_position === 'derecha'
const gridCols = isImageRight ? 'md:grid-cols-[1fr_1.25fr]' : 'md:grid-cols-[1.25fr_1fr]'
const contentOrder = isImageRight ? 'md:order-1' : 'md:order-2'
const imageOrder = isImageRight ? 'md:order-2' : 'md:order-1'
// Map that helps Content lookup 
const contentMap = {
  body_text: BodyText,  
  item_list: ItemList
}
---


<SectionWrapper>
  <div class={`pb-20 md:pb-28 grid items-center gap-x-16 gap-y-12 ${gridCols}`}>

     <!-- Image -->
    <div class={`relative aspect-4/3 md:aspect-auto md:min-h-144 rounded-lg overflow-hidden shadow-sm ${imageOrder}`}>
      <Image src={blok.image.filename} alt={blok.image.alt} class="absolute inset-0 object-cover object-center w-full h-full" inferSize/>
    </div>
    <!-- Content -->
    <div class=`${contentOrder}`>
      <h3 class="mb-5 md:mb-6 text-2xl md:text-3xl leading-[1.1] font-medium text-heading">{blok.headline}</h3>
      
      {blok.content?.map((contentBlok : any) => {
        // console.log('im a content block', )
        const ContentComponent = contentMap[contentBlok.component] 
        console.log('CONTENT COMPONENT', ContentComponent)
        return <ContentComponent blok={contentBlok}/>
        
      })}
    </div>
  </div> 
  
</SectionWrapper>