---
import { Image } from "astro:assets"
import Banner from "./Banner.astro"
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const {blok} = Astro.props
---


<section>
  <div class="h-svh relative flex flex-col justify-end">
    <Image src={blok.imagen.filename} alt="Render representativo de Valle Condesa" inferSize class="absolute inset-0 w-full h-full object-cover -z-10"/>
  <!-- Top overlay -->
  <div class="bg-linear-to-b from-black/50 via-transparent to-transparent absolute top-0 inset-0 -z-10"></div>
  <!-- Bottom overlay -->
  <div class="bg-linear-to-t from-black/80 via-transparent to-transparent absolute bottom-0 inset-0 -z-10"></div>
  <div class="container mx-auto max-w-4xl md:max-w-7xl px-5 md:px-0 pb-16 md:pb-24">
    <div class="md:max-w-1/2">
      <span class="mb-4 inline-block text-sm md:text-sm text-white uppercase tracking-wide">{blok.eyebrow}</span>
      <h1 class=" text-white text-5xl md:text-6xl font-semibold">{blok.heading}</h1>
      <div class="mt-5 md:mt-6 text-gray-100 text-lg md:text-2xl">{blok.subheading}</div>
    </div>
    {blok.stats?.map((stat: any) => {
        return <StoryblokComponent blok={stat}/>
      })}
    
  </div>

  </div>
  
  <Banner/>
</section>