---
import { renderRichText } from "@storyblok/astro"
import SectionWrapper from "../components/SectionWrapper.astro"
import Prose from "../components/Prose.astro"
import { Image } from "astro:assets"

const {blok} = Astro.props
const renderedContent = renderRichText(blok.text)
---


<SectionWrapper>
<div class="grid md:grid-cols-2 gap-x-20 gap-y-12">
  <!-- Content -->
  <div class="">
      <h2 class="mb-4 md:mb-6 text-3xl md:text-[2.5rem]">{blok.heading}</h2>
      <Prose>
        <Fragment set:html={renderedContent}/>
      </Prose>
  </div>
  <!-- Image -->
   <div class="">
    <Image src={blok.image.filename} alt={blok.image.alt} class="object-cover w-full" width={1232} height={1292}/>
   </div>

</div>
</SectionWrapper>