---
import SectionWrapper from "../components/SectionWrapper.astro"
import FeatureCard from "../components/FeatureCard.astro"
const {blok} = Astro.props
---

<SectionWrapper>
  <div class="pb-20 md:pb-28">
     <h3 class="text-2xl md:text-3xl leading-[1.1] font-medium text-heading mb-5 md:mb-6 ">{blok.title}</h3>
    <div class="grid md:grid-cols-3 gap-x-12 gap-y-12">
      {blok.cards?.map((card : any) => (
        <FeatureCard image={card.image.filename} alt={card.title} title={card.title} description={card.description}/>
      ))}
    </div>
  </div>
</SectionWrapper>