---
import { Image } from "astro:assets";

import Logo from '../assets/logo-vc.svg'

const leftNavItems = [
  {label: 'Macroproyecto', ref: '/macroproyecto'}, 
  {label: 'Habitacional', ref: '/habitacional'}, 
  {label: 'Comercial', ref: '/comercial'}, 
]
const rightNavItems = [
  {label: 'Industrial', ref: '/industrial'}, 
  {label: 'Parque Condesa', ref: '/gran-parque-condesa'}, 
  {label: 'Contacto', ref: '/contacto'}, 
]

const pathname = Astro.url.pathname
---


<nav class="absolute top-0 left-0 w-full z-10 py-6 px-5 md:px-0">
   <div class="flex items-center max-w-7xl mx-auto text-white">
      <!-- Left Side NavBar -->
     <ul class="hidden lg:flex lg:justify-start lg:gap-x-8 lg:flex-1">
      {leftNavItems.map((item) => (
        <li>
          <a href={item.ref} class={`${pathname === item.ref ? 'border-white' : 'border-transparent'} px-5 py-2 border  hover:border-white whitespace-nowrap transition-all duration-200 ease-out rounded-full`}>{item.label}</a>
        </li>
        
      ))}
     
     </ul>
   
     <!-- Logo -->
     <div class="shrink-0">
      <a href="/">
        <Image src={Logo} alt="logo Valle Condesa" class=" h-12 md:h-16 w-auto"/>
      </a>
     </div>
     <!-- Right Side NavBar -->
     <ul class="hidden lg:flex lg:justify-end lg:gap-x-8 lg:flex-1">
       {rightNavItems.map((item) => (
       <li>
          <a href={item.ref} class={`${pathname === item.ref ? 'border-white' : 'border-transparent'} px-5 py-2 border  hover:border-white whitespace-nowrap transition-all duration-200 ease-out rounded-full`}>{item.label}</a>
        </li>       
      ))}
     </ul>


   </div>
</nav>