---
import { Image } from "astro:assets"
const {prefix, number, suffix, label, icon} = Astro.props
---

<li class="p-8 flex flex-col items-center justify-baseline gap-y-2 bg-white shadow-sm rounded-2xl">
    { icon && 
      <Image src={icon} alt="" class="mt-2 shrink-0 w-16 h-16" inferSize/>
    }
  <div class="flex items-baseline gap-x-1">
    {prefix && <span class="font-medium text-3xl md:text-4xl text-heading leading-none">{prefix}</span>}
    <span class="text-5xl md:text-6xl text-heading">{number}</span>
    {suffix && <span class="font-medium text-3xl md:text-4xl text-heading leading-none">{suffix}</span>}
  </div>
  <p class="text-lg md:text-xl text-slate-600">{label}</p>
</li>


